# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Streamlit/Cache
.streamlit/secrets.toml
cache/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# C/LEX build artifacts
lex.yy.c
*.out
exp19
exp20
exp21
exp22
exp23
exp24
exp25
exp26
exp27
exp28
exp29
exp30
exp31
exp32
exp33
exp34
exp35
exp36
exp37
exp38
exp39
exp40

